@{
    ViewData["Title"] = "Home Page";
}

@model AnagramViewModel

<div class="text-center">
    <h1 class="display-4">Anagram finder app</h1>

<form method="get" action="/Home/Index">
    <input type="text" name="id" placeholder="Įveskite žodį" />
    <button type="submit">Ieškoti</button>
</form>

@if (ViewBag.ValidationError != null)
{
    <p style="color:red">@ViewBag.ValidationError</p>
}

<p>Search history: </p>
    <ul>
        @foreach (var search in ViewBag.History)
        {
            <li>@search</li>
        }
    </ul>

<p>Last search: @ViewBag.LastSearch</p>

<p>Anagrams: </p>
    <ul>
        @foreach (var anagram in Model.anagrams)
        {
            <li>@anagram</li>
        }
    </ul>
    
</div>
